* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.container {
  height: 100vh;
  width: 100%;
  background-image: url(background.png);
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}

.navbar {
  width: 50%;
  height: 15vh;
  margin: auto;
  display: flex;
  align-items: center;
}
nav {
  flex: 1;
  padding-left: 60 px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin-top: 0px;
  margin-right: 50px;
  font-family: century;
}
nav ul li a {
  text-decoration: none;
  color: #333;
  padding: 8px 25px;
  transition: all 0.5s ease;
}
.navbar ul li a:hover {
  background-color: cyan;
  color: #333;
  box-shadow: 0 0 10px white;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
/* Add a black background color to the top navigation */

.topnav {
  overflow: hidden;
  justify-content: center;
  display: flex;
  padding-top: 20px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: none;
  display: block;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 8px 25px;
  transition: all 0.5s ease;
  font-family: century;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: cyan;
  box-shadow: 0 0 10px white;
  color: #333;
}

/* Add an active class to highlight the current page */

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
    display: block;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
.content h1 {
  display: flex;
  flex-direction: column;
  font-size: 5vh;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 20px;
  color: teal;
  font-family: century;
  margin-right: 50%;
  margin-left: 10%;
}
.heading {
  font-size: 60px;
  font-weight: 100;
  margin-top: 30px;
  margin-bottom: 20px;
  color: teal;
  font-family: century;
  text-align: center;
}
.content h2 {
  font-size: 3vh;
  font-weight: 100;
  font-family: century;
  color: turquoise;
  padding-bottom: 20px;
}
.content p {
  font-size: 20px;
  font-weight: 100;
  font-family: century;
  color: #333;
}
.content {
  margin-left: 10%;
  margin-top: 10%;
}
.aboutme {
  display: flex;
  flex-direction: column;
}
.image {
  position: absolute;
  height: 80%;
  bottom: 0;
  width: 40%;
  opacity: 0.9;
  display: block;
  float: right;
  margin-left: 55%;
}
.social-links {
  transform: rotate(-90deg);
  position: absolute;
  left: -70px;
  bottom: 150px;
  margin-left: 30px;
  font-family: century;
  padding-bottom: 10px;
}
.social-links a {
  text-decoration: none;
  color: blueviolet;
  padding-right: 20px;
  font-size: 14px;
}
@media screen and (max-width: 600px) {
}
section div h2 {
  font-weight: 100;
  font-family: century;
  color: #333;
  padding-bottom: ;
  text-align: center;
  padding-top: 125px;
}
#skills {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.box {
  display: flex;
  flex-direction: column;
  text-align: justify;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
  border-radius: 15px;
  width: 250px;
  height: 300px;
  background: linear-gradient(to top, rgb(102, 236, 196) 50%, white 50%);
  transition: all 0.8s;
  background-size: 100% 160%;
}

.box:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(102, 236, 196);
}

.box1 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
  border-radius: 15px;
  width: 250px;
  height: 300px;
  background: linear-gradient(to top, rgb(102, 236, 196) 50%, white 50%);
  transition: all 0.8s;
  background-size: 100% 140%;
}

.box1:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(102, 236, 196);
}
.box2 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
  border-radius: 15px;
  width: 250px;
  height: 300px;
  background: linear-gradient(to top, rgb(102, 236, 196) 50%, white 50%);
  transition: all 0.8s;
  background-size: 100% 130%;
}

.box2:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(102, 236, 196);
}
.box3 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
  border-radius: 15px;
  width: 250px;
  height: 300px;
  background: linear-gradient(to top, rgb(102, 236, 196) 50%, white 50%);
  transition: all 0.8s;
  background-size: 100% 140%;
}

.box3:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(102, 236, 196);
}
.box4 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
  border-radius: 15px;
  width: 250px;
  height: 300px;
  background: linear-gradient(to top, rgb(102, 236, 196) 50%, white 50%);
  transition: all 0.8s;
  background-size: 100% 145%;
}

.box4:hover {
  background-position: left bottom;
  color: white;
  border: none;
  box-shadow: 0 0 20px rgb(102, 236, 196);
}
#education {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url(background.png);
}
.std {
  text-align: justify;
  align-items: center;
  padding: 10px;
  font-family: century;
}
.school {
  text-align: justify;
  align-items: center;
  padding: 10px;
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
}
.batch {
  text-align: justify;
  align-items: center;
  padding: 20px;
  margin-bottom: 10px;
  font-family: century;
}
.ed {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: justify;
  border: 1px solid black;
  margin: 10px;
  align-items: center;
  border-radius: 50px;
  height: 600px;
  background: linear-gradient(to top, rgb(82, 162, 165), rgb(17, 131, 131));
}

.ed:hover {
  background-position: left bottom;
  color: rgb(241, 239, 241);
  border: none;
  box-shadow: 0 0 20px rgb(102, 236, 196);
}
#contactme {
  font-family: century;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url(background.png);
}

.contact-info {
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0px;
  box-sizing: border-box;
  min-height: 100vh;
}

.card {
  background: #2f3542;
  padding: 0 30px;
  margin: 0 30px;
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: beige;
}

.card-icon {
  font-size: 28px;
  background: #ff6348;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon {
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}

.card p {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p {
  max-height: 40px;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .contact-info {
    flex-direction: column;
  }
  .card {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
  .mail {
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}
.mail {
  text-decoration: none;
  color: beige;
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}
.mail:hover {
  max-height: 40px;
  opacity: 1;
}

footer a {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 15px;
}
footer a:hover {
  opacity: 0.8;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  overflow: hidden;
  width: 32px;
  height: 32px;
  border: none;
  text-indent: 100%;
  background: url(next.png) no-repeat center;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
