* {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  .container{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #7F4B3A;
    margin: auto;
    display: flex;
    align-items: left;
    background-image: url(bgfinal.jpeg);
    width: 1600px;
    height: 506px;
    right: 0px;
    top: 0px;
    border-radius : 0px 0px 10px 10px;
    background-repeat : no-repeat;
    
  }

  .login{
    position: absolute;
    width: 148px;
    height: 31px;
    left: 1119px;
    top: 0px; 
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 31px;
    color: #FFFFFF;
    justify-content: right;
    padding-top: 20px;
    padding-left: 150px;
  }

  .topnav {
    overflow: hidden;
    justify-content: left;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
  }
  .topnav a {
    float: none;
    display: block;
    color: #333;
    text-decoration: none;
    font-family: Source Sans Pro;
    padding-right: 20px;
    padding-left: 10px;
  }
.login a{
    text-decoration: none;
    float: none;
    display: block;
    font-family: Source Sans Pro;
    color: #FFFFFF;
    float: none;
    text-decoration: none;
    font-family: Source Sans Pro;
   
   
}