* {
    margin: 0;
    padding: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  .container{ 
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    margin: auto;
    display: flex;
    background-image: url(bgfinal.jpeg);
    width: 1600px;
    height: 506px;
    
    border-radius : 0px 0px 10px 10px;
    background-repeat : no-repeat;
    
  }

  .login{
    position: absolute;
    left: 1200px;
    top: 0px; 
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: #FFFFFF;
    justify-content: right;
    padding-top: 20px;
    padding-left: 130px;
    
  }

  .topnav {
    overflow: hidden;
    justify-content: left;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    height: 5vh;
  }
  .topnav a {
    float: none;
    color: #333;
    text-decoration: none;
    font-family: Source Sans Pro;
    padding-right: 15px;
    padding-left: 15px;
    transition: all 0.5s ease;
  }
  .topnav a:hover {
    background-color: rgb(183, 219, 219);
    color: #333;
  }
.login a{
    text-decoration: none;
    float: none;
    display: block;
    font-family: Source Sans Pro;
    color: #FFFFFF;
    text-decoration: none;
    font-family: Source Sans Pro;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    transition: all 0.5s ease;

   
}
.login a:hover {
  background-color: rgb(183, 219, 219);
  color: #333;
}